@namespace MedizID.UI.Components.Odontogram
@using MedizID.UI.Components.Odontogram
@implements IAsyncDisposable

<div class="odontogram">
    <svg version="1.1" height="100%" width="100%">
        <Teeth start="18" end="11" x="0" y="0" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />
        <Teeth start="21" end="28" x="210" y="0" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />

        <Teeth start="55" end="51" x="75" y="40" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />
        <Teeth start="61" end="65" x="210" y="40" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />

        <Teeth start="85" end="81" x="75" y="80" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />
        <Teeth start="71" end="75" x="210" y="80" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />

        <Teeth start="48" end="41" x="0" y="120" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />
        <Teeth start="31" end="38" x="210" y="120" OnSurfaceClick="@OnSurfaceClick" ToothStates="@ToothStates" AllConditions="@AllConditions" />
    </svg>
</div>

<style>
    .odontogram {
        text-align: center;
        padding: 5px;
        height: 220px;
    }
</style>

@code {
    [Parameter]
    public EventCallback<Tooth.SurfaceEventArgs> OnSurfaceClick { get; set; }
    [Parameter]
    public ToothState[]? ToothStates { get; set; } = Array.Empty<ToothState>();
    [Parameter]
    public ToothCondition[]? AllConditions { get; set; } = Array.Empty<ToothCondition>();
    protected override void OnInitialized()
    { }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        await Task.CompletedTask;
    }
}